.navbar {
  display : flex;
  justify-content : space-between;
  align-items : center;

  padding : 1em;
  background : #404040;
}

.title {
  font-size : 2rem;
  color: #f9f9f9;
  font-weight : 700;
}

.accentColor {
  color : #F04040;
}